<div class="footer">
  <div class="us">
    <h3>EMPRESA</h3>
    <ul>
      <li><a href="#">Nosotros</a></li>
      <li><a href="#">Contacto</a></li>
    </ul>
  </div>
  <div class="buy">
    <h3>COMPRA</h3>
    <ul>
      <li><a href="#">Envios</a></li>
      <li><a href="#">Devoluciones</a></li>
      <li><a href="#">Cambios</a></li>
    </ul>
  </div>
  <div class="account">
    <h3>CUENTA</h3>
    <ul>
      <li><a href="#">Mis compras</a></li>
      <li><a href="#">Wish List</a></li>
      <li><a href="#">Direcciones</a></li>
    </ul>
  </div>
  <div class="network">
    <h3>REDES</h3>
    <ul>
      <li><a href="#">Instagram</a></li>
      <li><a href="#">Twitter</a></li>
      <li><a href="#">Facebook</a></li>
    </ul>
  </div>
  <div class="help">
    <h3>AYUDA</h3>
    <ul>
      <li><a href="#">Preguntas frecuentes</a></li>
      <li><a href="#">Guia de Tallas</a></li>
    </ul>
  </div>
</div>
