<div class="footer hide-on-mobile">
  <div class="us">
    <h3>EMPRESA</h3>
    <ul>
      <li><a>Nosotros</a></li>
      <li><a>Contacto</a></li>
    </ul>
  </div>
  <div class="buy">
    <h3>COMPRA</h3>
    <ul>
      <li><a>Envios</a></li>
      <li><a>Devoluciones</a></li>
    </ul>
  </div>
  <div class="account">
    <h3>CUENTA</h3>
    <ul>
      <li><a>Mis compras</a></li>
      <li><a>Direcciones</a></li>
    </ul>
  </div>
  <div class="network">
    <h3>REDES</h3>
    <ul>
      <li><a>Instagram</a></li>
      <li><a>Facebook</a></li>
    </ul>
  </div>
  <div class="help">
    <h3>AYUDA</h3>
    <ul>
      <li><a>Preguntas frecuentes</a></li>
      <li><a>Guía de Tallas</a></li>
    </ul>
  </div>
</div>
