.footer {
  width: 100%;
  min-height: 22vh;
  background-color: black;
  border-top: solid 1px white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px 0;
  gap: 20px;
}

.us,
.buy,
.account,
.network,
.help {
  width: 180px;
  color: white;
  text-align: center;
}

@media (max-width: 768px) {
  .footer {
    display: none;
  }
}

h3 {
  margin-bottom: 10px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 5px 0;
}

a {
  text-decoration: none;
  color: white;
  font-size: 14px;
}

a:hover {
  text-decoration: underline;
}
