<div class="box">
  <div class="filters">
    <h3>Filtros</h3>
    <h3 class="clearFilter" (click)="clearFilters()">Limpiar filtros</h3>
  </div>
  <div class="filter-container">
    <div>
      <label for="minPriceRange">Precio mínimo:</label>
      <input
        type="range"
        id="minPriceRange"
        [min]="minPrice"
        [max]="maxPrice"
        [value]="selectedMinPrice"
        (input)="onMinPriceChange($event)"
      />
      <span>{{ selectedMinPrice | currency }}</span>
    </div>
    <div>
      <label for="maxPriceRange">Precio máximo:</label>
      <input
        type="range"
        id="maxPriceRange"
        [min]="minPrice"
        [max]="maxPrice"
        [value]="selectedMaxPrice"
        (input)="onMaxPriceChange($event)"
      />
      <span>{{ selectedMaxPrice | currency }}</span>
    </div>
  </div>
  <div class="content">
    <div>
      <h3>Descuentos</h3>
      <label class="checkbox-container">
        Todos
        <input
          type="radio"
          name="descuento"
          value="10"
          [checked]="selectedDiscount === 10"
          (change)="applyDiscountFilter(10)"
        />
        <span class="checkmark"></span>
      </label>
      <label class="checkbox-container">
        15% - 25%
        <input
          type="radio"
          name="descuento"
          value="30"
          [checked]="selectedDiscount === 30"
          (change)="applyDiscountFilter(30)"
        />
        <span class="checkmark"></span>
      </label>

      <label class="checkbox-container">
        5% - 15%
        <input
          type="radio"
          name="descuento"
          value="20"
          [checked]="selectedDiscount === 20"
          (change)="applyDiscountFilter(20)"
        />
        <span class="checkmark"></span>
      </label>
    </div>
    <div>
      <h3>Categorías</h3>
      <label class="checkbox-container">
        Hombre
        <input
          type="radio"
          name="categoria"
          [checked]="selectedCategories['hombre']"
          (change)="applyCategoryFilter('hombre')"
        />
        <span class="checkmark"></span>
      </label>

      <label class="checkbox-container">
        Mujer
        <input
          type="radio"
          name="categoria"
          [checked]="selectedCategories['mujer']"
          (change)="applyCategoryFilter('mujer')"
        />
        <span class="checkmark"></span>
      </label>

      <label class="checkbox-container">
        Accesorios
        <input
          type="radio"
          name="categoria"
          [checked]="selectedCategories['accesorios']"
          (change)="applyCategoryFilter('accesorios')"
        />
        <span class="checkmark"></span>
      </label>

      <label class="checkbox-container">
        Belleza y Cuidado Personal
        <input
          type="radio"
          name="categoria"
          [checked]="selectedCategories['belleza y cuidado personal']"
          (change)="applyCategoryFilter('belleza y cuidado personal')"
        />
        <span class="checkmark"></span>
      </label>
    </div>
  </div>
</div>
