<app-header></app-header>
<div class="page">
  <div class="container" id="container">
    <div class="form-container sign-up-container">
      <form #formSignUp="ngForm" (ngSubmit)="signUp(formSignUp)">
        <h1>Crea tu cuenta</h1>
        <div class="social-container">
          <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
          <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
          <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
        </div>
        <span>O usa tu email para registrarte</span>
        <input type="text" name="name" placeholder="Nombre" ngModel required />
        <input type="email" name="email" placeholder="Email" ngModel required />
        <input
          type="password"
          name="password"
          placeholder="Contraseña"
          minlength="8"
          ngModel
          required
        />
        <button type="submit">Enviar</button>
      </form>
    </div>
    <div class="form-container sign-in-container">
      <form #formSignIn="ngForm" (ngSubmit)="signIn(formSignIn)">
        <h1>Iniciar sesion con...</h1>
        <div class="social-container">
          <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
          <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
          <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
        </div>
        <span>O usa tu cuenta</span>
        <input type="email" name="email" placeholder="Email" ngModel required />
        <input type="text" name="name" placeholder="Nombre" ngModel required />
        <input
          type="password"
          name="password"
          placeholder="Contraseña"
          minlength="8"
          ngModel
          required
        />
        <a class="forget" href="#">¿Olvidaste tu contraseña?</a>
        <button type="submit">Enviar</button>
      </form>
    </div>
    <div class="overlay-container">
      <div class="overlay">
        <div class="overlay-panel overlay-left">
          <h1>Hola de vuelta!</h1>
          <p>Para seguir conectado con nosotros, ingresa a tu cuenta</p>
          <button class="ghost" id="signIn">Sign In</button>
        </div>
        <div class="overlay-panel overlay-right">
          <h1>Bienvenido!</h1>
          <p>
            Registrate con tus datos y continua en esta aventura con nosotros!
          </p>
          <button class="ghost" id="signUp">Sign Up</button>
        </div>
      </div>
    </div>
  </div>
</div>
