.box {
  width: 100%;
  max-width: 340px;
  height: 420px;
  background-color: transparent;
  padding: 8px;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 100px;
  overflow: hidden;
  font-size: 13px;
  box-sizing: border-box;
}

.img {
  width: 100%;
  height: 300px;
  overflow: hidden;
  background-color: rgb(233, 231, 231);
}
.img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.content {
  text-align: left;
  padding: 10px;
  box-sizing: border-box;
  width: 100%;
  flex-grow: 1;
  overflow-y: hidden;
}

.content p {
  margin: 5px;
}

.btn {
  display: flex;
  justify-content: end;
  width: 100%;
  height: 40px;
}

button {
  width: 160px;
  height: 40px;
  z-index: 0;
  float: right;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: white;
  color: black;
  font-weight: bold;
  font-size: 12px;
  padding: 6px 12px;
  border: none;
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease-in-out;
  font-family: "Montserrat", sans-serif;
  border-radius: 4px;

  box-shadow: 4px 4px 0px 0px white;
  border: solid 1px black;

  &:hover {
    box-shadow: 6px 6px 0px 0px transparent;
  }
}

button::after {
  content: "→";
  margin-left: 10px;
  transition: margin-left 0.3s ease-in-out;
}

button:hover::after {
  margin-left: 15px;
}

.stock-disponible {
  color: green;
  font-size: 14px;
}

.stock-agotado {
  color: red;
  font-size: 14px;
}

@media (max-width: 768px) {
  .box {
    width: 130px;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
  }

  .img {
    width: 100%;
    height: 150px;
  }

  .img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .content {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    flex-grow: 1;
    overflow-y: auto;
  }

  .content p {
    margin: 3px;
    font-size: 12px;
  }

  .content span {
    font-size: 12px;
  }

  .content button {
    font-size: 10px;
    padding: 3px 8px;
  }

  .btn {
    display: flex;
    justify-content: end;
    width: 100%;
    height: 30px;
  }

  .btn button {
    width: 100%;
    height: 30px;
    font-size: 10px;
    padding: 3px 8px;
  }
}
